<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  		<!-- Brand/logo -->
  		<span>
  		<a class="navbar-nav" data-toogle="tooltip" title="Home" href="#" th:href="${'/users'}" th:if="${edit}">
  			<img src="https://png.icons8.com/ios/50/2ecc71/home-filled.png" alt="Home">
  		</a>
  		<a class="navbar-nav" data-toogle="tooltip" title="Login" href="#" th:href="${'/login'}" th:if="!${edit}">
  			<img src="https://png.icons8.com/ios/50/2ecc71/home-filled.png" alt="Home">
  		</a>
  		</span>
  		<h2 class="text-info text-center">Welcome to BBTech.com</h2>
  		<ul class="navbar-nav ml-auto">
    		<li class="nav-item ">
      			<a class="btn btn-outline-danger" data-toggle="tooltip" title="Logout" href="#" th:href="${'/login?logout'}">Logout</a>
    		</li>
  		</ul>
	</nav>
	<div class="container mt-3 col-md-4">
		<h2 th:if="!${edit}">Register</h2>
		<h2 th:if="${edit}">Edit User</h2>
		<form class="form-horizontal" th:object="${user}"  method="post">
			<div class="form-group">
				<input type="hidden" th:field="*{id}"/>
			 	<label for="firstName">First Name</label>
			 	<input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name" required autofocus>
			</div>
			<div class="form-group">
			 	<label for="lastName">Last Name</label>
			 	<input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name" required>
			</div>
			<div class="form-group">
			 	<label for="email">Email</label>
			 	<input type="email" th:field="*{email}" class="form-control" placeholder="Email" required>
			</div>
			<div class="form-group">
			 	<label for="dob">DOB</label>
			 	<input type="date" th:field="*{dob}" class="form-control" placeholder="YYYY-MM-DD" required>
			</div>
			<div class="form-group" th:if="!${edit}">
			 	<label for="password">Password</label>
			 	<input type="password" th:field="*{password}" th:value="${user.password}" class="form-control" placeholder="Password" required >
			</div>
			<input th:if="${edit}" type="hidden" th:field="*{password}"/>
			<button th:with="text=${edit} ? 'Edit' : 'Register'"
				type="submit" class="btn btn-success" th:text="${text}">Register</button>
		</form>
	</div>
</body>
<footer class="text-center mt-5">&copy; Copyright 2018 BBtech.com</footer>
</html>